.Box{
    width: 40%;
    height: 300px;
    margin: auto;
    background: linear-gradient(to right, #9900ff, #cc80ff);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    border-radius: 25px;
    box-shadow: 2px 3px 5px rgb(156, 156, 156);
    font-style: italic;
}
.box h1 a{
    color: #64278a;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}
.box h1 a:hover{
    color: #0f0a13;
}
.box h2{
    color: rgb(60, 25, 82);
}